@import url('estilo.css');

body {
    background-color: #121212; 
    color: #e0e0e0; 
}

header {
    background: #1f1f1f;
    color: #ffffff;
    border-bottom: 1px solid #333;
}

nav a { color: #bb86fc; }
nav a:hover { color: #ffffff; }

main {
    background: #1e1e1e;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

footer {
    background: #1f1f1f;
    color: #888;
    border-top: 1px solid #333;
}

footer a { color: #bb86fc; }

form h2 { color: #ffffff; }
form label { color: #b0b0b0; }

form input[type="text"],
form input[type="password"] {
    background-color: #2d2d2d;
    border: 1px solid #444;
    color: #ffffff;
}

form input:focus {
    border-color: #bb86fc;
    background-color: #333;
    box-shadow: 0 0 5px rgba(187, 134, 252, 0.3);
}

form button {
    background: #bb86fc;
    color: #000000;
}

form button:hover { background: #9965f4; }

/* Errores en Noche */
.error-input {
    background-color: #3a1c1c !important;
    border-color: #cf6679 !important;
    color: white !important;
}

.error-texto { color: #cf6679 !important; }

/* Anuncios en Noche */
.anuncio {
    background: #2c2c2c;
    border: 1px solid #444;
}

.anuncio h3 { color: #bb86fc; }
.anuncio p { color: #cccccc; }

/* Banner en Noche */
.banner-cookies {
    background-color: #333;
    border-top: 2px solid #bb86fc;
}
.banner-cookies button {
    background: #bb86fc;
    color: black;
}

/* Aviso en Noche */
.aviso-flotante {
    background-color: #2d2d2d;
    color: #ffffff;
    border: 1px solid #bb86fc;
}